@page
@model WebEventManager.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Kustuta</h1>

<h3>Kas oled kindel, et tahad yritust kustutada?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.AdditionalInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.AdditionalInformation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Event.EventID" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-page="../Index">Tagasi</a>
    </form>
</div>
