@page
@model WebEventManager.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src ="~/js/RadioButtonFieldShowHide.js"></script>
</head>


<div class="row" style="display: flex; align-items:stretch; background-color: white; margin-top: 20px;">
    <div style="display: flex;justify-content: space-between;overflow: hidden;height: 90px; padding:0;">
        <h1 class="d-flex justify-content-center align-items-center" style="padding: 10px;width: 25%;background-color: #1f59a0;color: rgb(255,255,255);height: 100%;">Osavõtjad</h1>
        <div style="width: 75%;height: auto;margin: 0;"><img src="~/images/libled.jpg" style="width: 100%;height: auto;object-fit: cover;"></div>
    </div>
    <div class="d-flex justify-content-center" id="BIG-DIV">
        <div class="d-flex flex-column align-items-start" id="Header-and-input-fields" style="width: 750px;">
            <div class="row" id="header" style="width: 100%;margin-top: 25px;margin-right: 0;margin-left: 0;margin-bottom: 25px;">
                <div class="col">
                    <h4 style="color: #1f59a0">Osavõtjad</h4>
                </div>
            </div>

            <dl class="row" style="margin-left: 0;">
                <dt class="col-sm-2">
                    Ürituse nimi:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.Name)
                </dd>
                <dt class="col-sm-2">
                    Toimumisaeg:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.DateTime)
                </dd>
                <dt class="col-sm-2">
                    Koht:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.Place)
                </dd>
                <dt class="col-sm-2">
                    Osavõtjad:
                </dt>
                <dd class="col-sm-10">
                    <table class="table">
                        <tbody>
                            @if (Model.GetParticipants?.Any() == true)
                            {
                                @foreach (var item in Model.GetParticipants)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @if (item.isPerson)
                                            {
                                                <a class="link-custom2" asp-page="../PrivatePeople/Edit" asp-route-id="@item.actualID">VAATA</a>
                                                <a class="link-custom2" asp-page="../PrivatePeople/Delete" asp-route-id="@item.actualID">KUSTUTA</a>
                                            }
                                            else
                                            {
                                                <a class="link-custom2" asp-page="../Companies/Edit" asp-route-id="@item.actualID">VAATA</a>
                                                <a class="link-custom2" asp-page="../Companies/Delete" asp-route-id="@item.actualID">KUSTUTA</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>

            <div class="row" id="header" style="width: 100%;margin-top: 25px;margin-right: 0;margin-left: 0;margin-bottom: 25px;">
                <div class="col">
                    <h4 style="color: #1f59a0">Osavõtjate lisamine</h4>
                </div>
            </div>

            <form method="post" class="form-group-custom">
                <div class="form-group" >
                    <label for="participantType" style="visibility: hidden;">Participant Type:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ParticipantType" id="privatePersonRadio" value="PrivatePerson">
                        <label class="form-check-label" for="privatePersonRadio">Eraisik</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ParticipantType" id="companyRadio" value="Company">
                        <label class="form-check-label" for="companyRadio">Ettevõte</label>
                    </div>
                </div>
                <input type="hidden" id="selectedType" name="selectedType" value="PrivatePerson">

                <div id="privatePersonFields" style="display:none;">
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewPrivatePerson.FirstName" class="control-label" style="width: 30%;">Eesnimi:</label>
                            <input asp-for="NewPrivatePerson.FirstName" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewPrivatePerson.FirstName" class="text-danger"></span>
                    </div>
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewPrivatePerson.LastName" class="control-label" style="width: 30%;">Perekonnanimi:</label>
                            <input asp-for="NewPrivatePerson.LastName" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewPrivatePerson.LastName" class="text-danger"></span>
                    </div>
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewPrivatePerson.PersonalID" class="control-label" style="width: 30%;">Isikukood:</label>
                            <input asp-for="NewPrivatePerson.PersonalID" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewPrivatePerson.PersonalID" class="text-danger"></span>
                    </div>
                    <input type="hidden" name="FullName" asp-for="NewPrivatePerson.FullName" />
                </div>

                <div id="companyFields" style="display:none;">
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewCompany.Name" class="control-label" style="width: 30%;">Juriidiline nimi:</label>
                            <input asp-for="NewCompany.Name" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewCompany.Name" class="text-danger"></span>
                    </div>
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewCompany.RegistryNumber" class="control-label" style="width: 30%;">Registrikood:</label>
                            <input asp-for="NewCompany.RegistryNumber" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewCompany.RegistryNumber" class="text-danger"></span>
                    </div>
                    <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                        <div class="col" style="display:flex">
                            <label asp-for="NewCompany.NumberOfParticipants" class="control-label" style="width: 30%;">Osavõtjate arv:</label>
                            <input asp-for="NewCompany.NumberOfParticipants" class="form-control" style="width: 70%;" />
                        </div>
                        <span asp-validation-for="NewCompany.NumberOfParticipants" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px;">
                    <div class="col" style="display:flex">
                        <label asp-for="NewAttendance.PaymentMethod" class="control-label" style="width: 30%;">Maksmise viis:</label>
                        <select asp-for="NewAttendance.PaymentMethod" class="form-control" style="width: 70%;">
                            <option value="BankTransfer">Pangaülekanne</option>
                            <option value="Cash">Sularaha</option>
                        </select>
                    </div>
                    <span asp-validation-for="NewAttendance.PaymentMethod" class="text-danger"></span>
                </div>
                <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px; margin-bottom: 50px;">
                    <div class="col" style="display:flex">
                        <label asp-for="NewAttendance.AdditionalInformation" class="control-label" style="width: 30%;">Lisainfo:</label>
                        <textarea asp-for="NewAttendance.AdditionalInformation" class="form-control" rows="2" style="width: 70%;"></textarea>
                    </div>
                    <span asp-validation-for="NewAttendance.AdditionalInformation" class="text-danger"></span>
                </div>

                <input type="hidden" name="EventID" asp-for="Event.EventID" />
                <input type="hidden" name="Name" asp-for="Event.Name" />
                <input type="hidden" name="Place" asp-for="Event.Place" />

                <div class="row" style="width: 100%;margin-right: 0;margin-left: 0;margin-top: 5px; margin-bottom: 20px;">
                    <div class="col" style="display:flex">
                        <a asp-page="../Index" class="btn btn-secondary" style="margin-right: 10px;">Tagasi</a>
                        <input type="submit" value="Salvesta" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
