@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Sed faucibus nibh enim, sed cursus est varius quis. Duis id metus sit amet ligula ultricies hendrerit. Suspendisse nunc metus, venenatis finibus tellus lacinia, viverra luctus leo. Sed eu eros vel felis mollis aliquet. Cras vel viverra tellus. Donec dapibus bibendum ornare. In convallis eleifend orci, eu efficitur purus vulputate ac.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    <img src="~/images/pilt.jpg" />
                </p>
            </div>
        </div>
    </div>

</div>
<div class="row mb-auto" >
    <div class="col-md-4">
        <h3>Tulevased üritused</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.GetUpcomingEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            <div style="height: 25px; display:inline-block;">
                                <a asp-page="./Events/Details" asp-route-id="@item.EventID" style="float:left;">Osavõtjad</a>
                                <a asp-page="./Events/Delete" asp-route-id="@item.EventID" class="btn" style="float:right;">
                                    <img src="~/images/remove.svg" height="15px" width="15px" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a asp-page="./Events/Create">Lisa Üritus</a>
        </p>
    </div>

    <div class="col-md-4">
        <h3>Toimunud üritused</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.GetPastEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            <div style="height: 25px; width: 25px;">
                                <a asp-page="./Events/Details" asp-route-id="@item.EventID">Osavõtjad</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>